doctype html
html(lang="fr")
  head
    title My Own Tracks

  body
    h1 Welcome on My Own Tracks
    p This application will help you manage your GPS tracks!

    form(action="add", method="post")
        label Title:
        input(type="text", name="title")
        label GPX File:
        input(type="file", name="gps_file")
        input(type="submit", value="Add a new track")

    ul
        - for(track in track) {
            li
                a(href=track[track].url)= track[track].title
                | &nbsp;- (
                a(href="delete/#{track[track].id}") delete
                | )
        - }
